<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="container">
<form class="col-6 border border-dark rounded p-3 m-auto" action="/cat/update" method="POST">
    <div class="form-group mb-3">
        <label for="nameCat">Name Catalog</label>
        <input class="form-control bg-info" name="nameCat" id="nameCat">
    </div>
    <div class="form-group mb-3">
        <label for="Order">Order</label>
        <input class="form-control bg-primary" name="Order" id="Order">
    </div>
    <div class="form-group mb-3">
        <label>Show hide</label>
        <input type="radio" name="showHide" value="1" checked> Show  &nbsp; &nbsp; 
        <input type="radio" name="showHide" value="0"> Hide 
    </div>
    <div class="form-group mt-3 ">       
        <button type="submit" class="btn btn-dark px-4  py-2 text-white"> SAVE DATABASE </button>
    </div>
</form>    
</div>