
        <div class="container col-8">
            <table class="table table-bordered">
                <tr>
                    <th>idCat</th>
                    <th>nameCat</th>
                    <th>Order</th>
                    <th>Show Hide</th>
                </tr>
                <% for (let c of list ) {  %>
                <tr>
                    <td><%= c.idCat %> </td>        
                    <td><%= c.nameCat %> </td>
                    <td><%= c.order %> </td>
                    <td><%= c.showHide==1 ? "Đang hiện" : "Đang ẩn"%> </td>
                </tr>
                <% } %>
            </table>
        </div>
    